.Main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card-view {
	margin-top: 60px;
	overflow-y: scroll;
	height: 100vh;
	display: list-item;
	align-items: center;
}
.card-view::-webkit-scrollbar {
	width: 0em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card-view-top {
	margin-bottom: 26px;
	margin-top: 50px;
	text-align: center;
	font-size: larger;
}
