.ApplyPop {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
}
.ApplyPop-background {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
}

.ApplyPop-container {
	background-color: white;
	border-radius: 16px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	padding: 16px;
}
h2 {
	text-align: center;
	color: #4e4e4e;
}
.ApplyPop-close {
	position: absolute;
	right: 16px;
	cursor: pointer;
}
