.Main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card-view {
	margin-top: 60px;
	overflow-y: scroll;
	height: 100vh;
	display: list-item;
	align-items: center;
}
.card-view::-webkit-scrollbar {
	width: 0em;
}
/* 
.card-view::-webkit-scrollbar-track {
	box-shadow: "inset 0 0 6px #000";
}

.card-view::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 20px;
} */
